.home-header-container {

    .home-header-content {
        // width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        background-color: lightgray;

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        flex-wrap: wrap;

        .left-content {
            width: 10%;
            padding: 0 0 0 0px;
            background: url('../assets/logoWeb.svg') center center no-repeat;
            height: 100%;
            cursor: pointer;
        }

        .center-content {
            width: 55%;
            display: flex;
            flex-direction: row;
            gap: 5px;
            height: 100%;

            .active1 {
                background: lightcoral;
            }

            .child-content-center {
                width: 100px;
                height: 100%;
                cursor: pointer;

                a {
                    position: relative;
                    top: 20px;
                    height: 100%;
                    color: white;
                    text-decoration: none;
                    display: block;
                    text-align: center;

                    &:hover {
                        color: blue;
                    }
                }
            }
        }

        .right-content {
            height: 100%;
            width: 35%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            // padding: 0 10px 0 0;

            .child-content-right {
                width: 100px;
                height: fit-content;
                position: relative;
                top: 20px;
                text-align: center;
                cursor: pointer;
            }

            .language {
                cursor: text;
                display: flex;
                flex-direction: column;

                .select-language {
                    width: 100%;
                    border: none;
                    outline: none;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: center;

                    // span {
                    //     cursor: pointer;
                    //     color: dimgrey;
                    // }
                    .language-vi {
                        cursor: pointer;
                        opacity: 0.2;

                        &.hover {
                            color: blue !important;
                            font-weight: 600 !important;
                            opacity: 1;
                        }

                        &.active {
                            color: blue !important;
                            font-weight: 600 !important;
                            opacity: 1;
                        }
                    }

                    .language-en {
                        cursor: pointer;
                        opacity: 0.2;

                        &.hover {
                            color: blue !important;
                            font-weight: 600 !important;
                            opacity: 1;
                        }

                        &.active {
                            color: blue !important;
                            font-weight: 600 !important;
                            opacity: 1;
                        }
                    }

                }


            }
        }
    }
}